html, body {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	overflow: auto
}
body {
	font-family: "DIN", Helvetica, Arial, sans-serif;
	font-size: 100%;
	min-height: 100vh;
	height: 100%;
	color: #ffffff;
	background-color: black;

}
.smartLink-container {
	max-width: 400px;
	width: calc(100% - 20px);
	padding: 10px;
	margin: 0 auto
}
.smartLink-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 100%
}
.smartLink-title {
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0 0
}
.smartLink-subtitle {
	text-align: center;
	text-transform: uppercase;
	margin: 5px auto 20px
}
.smartLink-button {
	padding: 5px;
	border: 1px solid #ffffff;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase
}
.smartLink-button-text {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: -3px;
	line-height: 2.3em
}
.smartLink-button:hover .smartLink-icon, .smartLink-button:hover .smartLink-icon-spotifyIcon, .smartLink-button:hover .smartLink-icon-itunesIcon, .smartLink-button:hover .smartLink-icon-deezerIcon, .smartLink-button:hover .smartLink-icon-youtubeIcon, .smartLink-button:hover .smartLink-icon-soundcloudIcon, .smartLink-button:hover .smartLink-icon-appleMusicIcon {
	background-position-y: -24px
}
.smartLink-icon, .smartLink-icon-spotifyIcon, .smartLink-icon-itunesIcon, .smartLink-icon-deezerIcon, .smartLink-icon-youtubeIcon, .smartLink-icon-soundcloudIcon, .smartLink-icon-appleMusicIcon {
	width: 22px;
	height: 22px;
	background-image: url(https://nausea.me/moonlight/assets/icons/sprite3.png);
	background-size: auto 46px;
	margin-right: 3px;
	margin-left: -15px;
	background-position-y: 0px;
	position: relative;
	display: inline-block;
	vertical-align: middle
}
.smartLink-icon:after, .smartLink-icon-spotifyIcon:after, .smartLink-icon-itunesIcon:after, .smartLink-icon-deezerIcon:after, .smartLink-icon-youtubeIcon:after, .smartLink-icon-soundcloudIcon:after, .smartLink-icon-appleMusicIcon:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 22px
}
.smartLink-icon-spotifyIcon {
	background-position-x: 0px
}
.smartLink-icon-itunesIcon {
	background-position-x: -36px
}
.smartLink-icon-deezerIcon {
	background-position-x: -71px
}
.smartLink-icon-youtubeIcon {
	background-position-x: -106px
}
.smartLink-icon-soundcloudIcon {
	background-position-x: -141px
}
.smartLink-icon-appleMusicIcon {
	background-position-x: -176px
}
.smartLink-logoLink {
	width: 30px;
	height: 30px;
	background-image: url(/assets/icons/logo-ico-0fa11ab16af514cca56f56a9fb1937dafc6ecfebacb6761c860d3c41dbda7c12.svg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto 10px
}